---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="Modelado">
  <section class="page">
    <h1>Modelado de Base de Datos</h1>

    <p>
      En esta sección se presentan los diagramas entidad-relación, análisis de
      requerimientos y diseño lógico de la base de datos.
    </p>
    <p></p>
    <h3>Modelo Entidad Relacion Biblioteca</h3>
    <img src="./ModeloBiblioteca.png" alt="Modelo Entidad Relacion Biblioteca"> 
    <h3>Modelo Entidad Relacion Clínica</h3>
    <img src="./ModeloClinica.png" alt="Modelo Entidad Relacion Clinica">
    <h3>Modelo Entidad Relacion Champions</h3>
    <img src="./ModeloChampions.png" alt="Modelo Entidad Relacion Champions">  

    <p class="coming">Próximamente se añadirán evidencias reales.</p>
  </section>
</Layout>

<style>
  .page {
    max-width: 900px;
    margin: 80px auto;
    padding: 40px;
    background: #0f172a;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,.5);
    text-align: center;
    color: #e5e7eb;
  }

  
  .page img {
    width: 100%;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
  }

  .coming {
    margin-top: 20px;
    opacity: .7;
  }
</style>