---
import Layout from "../layouts/MainLayout.astro";
---

<Layout title="SQL">
  <section class="page">
    <h1>Consultas SQL</h1>

    <p>
      Se presentan consultas, creación de tablas, relaciones, procedimientos
      almacenados y manipulación avanzada de datos.
    </p>

    <pre class="code">
SELECT * FROM estudiantes;
    </pre>
  </section>
</Layout>

<style>
  .page {
    max-width: 900px;
    margin: 80px auto;
    padding: 40px;
    background: #0f172a;
    border-radius: 12px;
    box-shadow: 0 10px 30px rgba(0,0,0,.5);
    text-align: center;
    color: #e5e7eb;
  }

  .code {
    background: #020617;
    padding: 15px;
    border-radius: 8px;
    text-align: left;
    margin-top: 20px;
    overflow-x: auto;
  }
</style>
